.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerBar {
  height: 60px;
  background-color: #8430e2;
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0 30px;
}

.mainLayout {
  display: flex;
  flex: 1;
}

.leftBox {
  width: 30%;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0);
}

.rightBox {
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  display: flex;
  gap: 10px;
}

.searchBar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.extraButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
max-height: min-content;

}

.mapContainer {
  flex: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.rBotton{
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  right: 0;
max-height: min-content;
}
.note{
  color: rgb(0, 0, 0);
}
.card{
  color: rgb(0, 0, 0);

}